* {
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
.custom-border {
  border-top-left-radius: 120px;
  border-bottom-right-radius: 120px;
  overflow: hidden;
}
.image {
  transition: transform 0.3s ease-in-out;
}

.image:hover {
  transform: scale(1.05) rotate(3deg);
}
.glass {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.toast {
  position: fixed;
  top: 20px;
  z-index: 50;
  right: 20px;
  background-color: #15c7a7;
  color: white;
  padding: 16px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 0.5s ease;
}

.toast-message {
  font-size: 14px;
}

.toast-progress-bar {
  height: 4px;
  background-color: #080808;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  transition: width 3.5s ease;
}
.typing-animation {
  font-size: 2.6rem;
  font-weight: bold;
  color: white;
  white-space: nowrap;
  overflow: hidden;
  border-right: 0.15em solid #fff;
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}
.slider {
  margin-top: 5px;
  width: 100%;
  height: 120px;
  overflow: hidden;
  background-color: #cef9f9;
}
.slider ul {
  width: 100%;
  min-width: calc(110px * var(--quantity));
  position: relative;
}
.slider ul li {
  position: absolute;
  left: 100%;
  animation: AutoRun var(--time) linear infinite;
  animation-delay: calc(
    var(--time) / var(--quantity) * (var(--index) - 1) - 30s
  );
  animation-play-state: running;
}
.slider:hover ul li {
  animation-play-state: paused;
}
.slider ul li img {
  width: 100px;
  margin-top: 10px;
  height: auto;
  filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.1));
  transition: transform 0.3s ease-in-out;
}
.slider ul li img:hover {
  transform: scale(1.1);
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
@keyframes AutoRun {
  to {
    left: -250px;
  }
}
